head{
    background-color: grey;
    color: white;
    text-size-adjust: 5;
    text-align: center; 
 }
#groopheadp{
    background-color: grey;
    color: white;
    text-align: center; 
 } 

 #icet01{
     background-color: green;
 }
 #icet02{
    color: white;
    text-size-adjust: 5;
    text-align: start; 
 }

 .groop01{
    color: white;
    text-size-adjust: 1;
 }

 .groop02{
     background-color: bisque;
 }

 #mainbody{
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    back

 }
